# Python bytecode
*.pyc
*.pyo
__pycache__/

# Virtual environment
.venv/
env/
venv/

# uv specific files
uv.lock
uv.lock
dist/
build/
*.egg-info/

# Editor and OS files
.DS_Store
.vscode/
*.swp
*~
explanations/

# .env
.env
